# Supabase configuration for Vercel Deployment
NEXT_PUBLIC_SUPABASE_URL=https://upsgoqluovwzijtgmlhp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwc2dvcWx1b3Z3emlqdGdtbGhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNDk4MTksImV4cCI6MjA5MTgyNTgxOX0.TLh-X-Go2O78S0S2de3Lw2eKzpAI8qlXw0whuCXf0O4
NEXT_PUBLIC_SITE_URL=https://visionitinstitute.com
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=your_code_here
